STACK_NAME=heimdall

TIMEZONE=America/Toronto

TS_HOSTNAME=heimdall-ts
TS_AUTHKEY=tskey-client-xxxxxxxxxxxxxxxx
TS_EXTRA_ARGS=--advertise-tags=tag:container

HTTP_PORT=80
HTTPS_PORT=443
TRAEFIK_DASHBOARD_PORT=8080

ACME_EMAIL=you@example.ca
DOMAIN=example.ca

CF_TUNNEL_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

BOOKS_HOST=books.example.ca
PLEX_HOST=plex.example.ca
BOOKS_URL=http://host.docker.internal:13378
PLEX_URL=http://host.docker.internal:32400